<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

  <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
          analytics.load("TOMHWg8LGgLuda6lKlk0ImPCChVLnk98");
          analytics.page()
      }}();

      <% if !current_user.nil? %>
          analytics.identify('<%= current_user.id %>', {
              email: '<%= current_user.email %>'
          });
      <% end %>
  </script>
</head>
<body>
  <div id="header">
      <h1><%= link_to "Blog", root_path %></h1>
      <%= language_selector %>
      <div id="user_bar">
        <% if logged_in? %>
          <%= link_to "New Article", new_article_path %> |
          <%= link_to "Edit Profile", edit_user_path(current_user) %>(<%= current_user.email %>)|
          <%= link_to "Logout", logout_path %>
        <% else %>
          <%= link_to "Login", login_path %>
        <%= link_to "Register", new_user_path %>
        <% end %>
      </div>
    </div>
    <div id="main">
      <%= content_tag(:p, notice, class: 'notice') if notice.present? %>
      <%= content_tag(:p, alert, class: 'alert') if alert.present? %>
      <%= yield %>
    </div>
    <div id="footer">
      A simple blog built for the book
  <a href="http://beginningrails.com">Beginning Rails 4</a>
  </div>
</body>
</html>
